.profile__edit {
  padding: 0;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/editButton.svg);
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  transition: opacity 0.5s;
}

.profile__edit:hover {
  opacity: 0.6;
}

@media all and (max-width: 616px) {
  .profile__edit {
    width: 18px;
    height: 18px;
  }
}
