.profile__caption {
  margin: 7px 0 25px;
  max-width: 500px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 914px) {
  .profile__caption {
    max-width: 404px;
  }
}

@media all and (max-width: 616px) {
  .profile__caption {
    margin-bottom: 0;
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
