.popup__container {
  padding: 35px;
  width: 430px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
  border-radius: 10px;
}

@media all and (max-width: 616px) {
  .popup__container {
    padding: 25px 22px;
    width: 282px;
  }
}
